name: Rust

on:
  push:
    branches: [ "Actions" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --release --all -- --nocapture --test-threads=1
    - name: Run res
      run: cargo run --release -- 100 100 -s 1000 res -o result/out.frame
